{% extends "dashboard_app/base.html" %}
{% load static %}
<!DOCTYPE html>
{% block title %}
  Tables
{% endblock title %}

{% block Content %}
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Tables</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Dealer</th>
                    <th>Location</th>
                    <th>Available</th>
                    <th>date Added</th>
                    <th>Normal/Promo</th>
                    <th>Car Year</th>
                    <th>Car Price</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Dealer</th>
                    <th>Location</th>
                    <th>Available</th>
                    <th>date Added</th>
                    <th>Normal/Promo</th>
                    <th>Car Year</th>
                    <th>Car Price</th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for cars in products %}
                  
                    <tr>
                      <td>{{ cars.car_name }}</td>
                      <td>{{ cars.car_user }}</td>
                      <td>{{ cars.car_user.address.profile_address }}</td>
                      <td>Yes | {{cars.car_offer}} | {{cars.car_promoted}}</td>
                      <td>{{ cars.date_added }}</td>
                      <td>{{cars.car_offer}} | {{cars.car_promoted}}</td>
                      <td>{{ cars.car_year }}</td>
                      <td>${{ cars.car_price }}</td>
                      <td></td>
                      <td></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated {{ lastAdded_cars | date:"D, d M, Y" }} at {{ lastAdded_cars | date:"G:i a" | upper }}</div>
        </div>

        <!-- For Dealers -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Dealers Registered Table
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Office/Location</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Total Cars</th>
                    <th>Promoted Cars</th>
                    <th>Normal Cars</th>
                    <th>Sold/Purchased Cars</th>
                    <th></th>  
                    <th></th>  
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>PhoneNo</th>
                    <th>Office/Location</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Total Cars</th>
                    <th>Promoted Cars</th>
                    <th>Normal Cars</th>
                    <th>Sold/Purchased Cars</th>
                    <th></th>  
                    <th></th>  
                  </tr>
                </tfoot>
                <tbody>
                  {% for dealer in dealers %}
                  <tr>
                    <td>{{ dealer.userprofile.full_name }}</td>
                    <td>{{ dealer.userprofile.profile_phone }}</td>
                    <td>{{ dealer.address.full_add }}</td>
                    <td>{{ dealer.address.profile_age }}</td>
                    <td>{{ dealer.userprofile.date_joined }}</td>
                    <td>{{ dealer.owner.count }}</td>
                    <td>{{ dealer.owner.car_promoted }}</td>
                    <td>{{ dealer.owner.car_promoted }}</td>
                    <td></td>
                    <th><button type="submit" class="alert-warning">Disable</button></th>
                    <th><button type="submit" class="alert-primary">Enable</button></th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated {{ lastUpdated_dealer | date:"D, d M, Y" }} at {{ lastAdded_cars | date:"G:i a" | upper }}</div>
        </div>

        <!-- for Customers on the group -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Customers Registered Table
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>PhoneNo</th>
                    <th>Office/Location</th>
                    <th>Start date</th>
                    <th>Comments/Reviews</th>
                    <th>Liked Cars</th>
                    <th></th>  
                    <th></th>  
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>PhoneNo</th>
                    <th>Office/Location</th>
                    <th>Start date</th>
                    <th>Comments/Reviews</th>
                    <th>Liked Cars</th>
                    <th></th>  
                    <th></th>  
                  </tr>
                </tfoot>
                <tbody>
                  {% for customer in customers  %}
                    <tr>
                      <td>{{ customer.userprofile.full_name }}</td>
                      <td>{{ customer.userprofile.profile_phone }}</td>
                      <td>{{ customer.address.full_add }}</td>
                      <td>{{ customer.userprofile.date_joined }}</td>
                      <td>$320,800</td>
                      <td>$320,800</td>
                      <th><button type="submit" class="alert-warning">Disable</button></th>
                      <th><button type="submit" class="alert-primary">Enable</button></th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated {{ lastAdded_customer | date:"D, d M, Y" }} at {{ lastAdded_cars | date:"G:i a" | upper }}</div>
        </div>
        <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->
    {% endblock %}
