{% extends "listing_app/base.html" %}

{% load static %}
<!DOCTYPE html>
{% block title %}
Harrier Car List Page
{% endblock title %}

{% block page_title %}
  PRODUCT LISTING
{% endblock page_title %}   

  {% block Content %}
            <div class="category-products">
              <ol class="products-list" id="products-list">
                
                {% if cars %}
                      {% for c in cars %}
                          
                      
                        <li class="item first">
                          <div class="product-image"> <a href="product-detail.html" title="{{ c.car_name }}"> <img class="small-image" src="{{ c.image.url }}" alt="{{ c.car_name }}"> </a> </div>
                          <div class="product-shop">
                            <h2 class="product-name"><a href="product-detail.html" title="HTC Rhyme Sense">{{ c.car_name }}</a></h2>
                            <div class="ratings">
                              <div class="rating-box">
                                <div style="width:50%" class="rating"></div>
                              </div>
                              <p class="rating-links"> <a href="{% url 'listing_app:detail' c.id %}#/reviews-tabs"> Review(s)</a> <span class="separator">|</span> <a href="{% url 'listing_app:detail' c.id %}#/product-detail-tab">Add Your Review</a> </p>
                            </div>
                            <div class="desc std">
                              <p>{{ c.car_desc | truncatewords:50}}
                              
                                <a class="link-learn" title="" href="{% url 'listing_app:detail' c.id %}">Learn More</a> 
                              </p>
                            </div>
                            <div class="price-box">
                              <p class="old-price"> <span class="price-label"></span> <span id="old-price-212" class="price"> $442.99 </span> </p>
                              <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> ${{ c.car_price }} </span> </p>
                            </div>
                            <div class="actions">
                              <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                              <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="#"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="#"><span>Add to Compare</span></a> </span> </div>
                          </div>
                        </li>
                      {% endfor %}

                      {% endif %} 
              </ol>
            </div>
  
  <!--main-container col2-left-layout--> 

{% endblock Content %}