{% extends "listing_app/base_reg.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Account
{% endblock %}

{% block page_title %}
Account Details
{% endblock page_title %}

{% block Content %}

 <!-- BEGIN Main Container col2-right -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
          <div class="my-account">
            
            <!--page-title--> 
            <!-- BEGIN DASHBOARD-->
            <div class="dashboard">
              {% if user.is_authenticated %}
                <div class="welcome-msg">
                  <p class="hello"><strong>Hello, {{ user.username }}!</strong></p>
                  <p>From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.</p>
                </div>
                <!-- Styling the profile info section -->
                <h2 class="text-center"><strong>  Account Information</strong></h2>
                  <div class="row">
                      <img src="{{ user.userprofile.profile_pic.url }}" alt="Profile images" class="img-fluid img-thumbnail rounded-lg col-md-3">

                  </div>
                
                <div class="box-account">
                  <div class="page-title">
                    <h2>Account Information</h2>
                  </div>
                  <div class="col2-set">
                    <div class="col-1">
                      <div class="box">
                        <div class="box-title">
                          <h5>Contact Information</h5>
                          <a href="#">Edit</a> </div>
                        <!--box-title-->
                        <div class="box-content">
                          <p> {{ user.first_name }}<br>
                            {{ user.email }}<br>
                            <a href="#">Change Password</a> </p>
                        </div>
                        <!--box-content--> 
                      </div>
                      <!--box--> 
                    </div>
                    <div class="col-2">
                      <div class="box">
                        <div class="box-title">
                          <h5>Newsletters</h5>
                          <a href="#">Edit</a> </div>
                        <!--box-title-->
                        <div class="box-content">
                          <p> You are currently not subscribed to any newsletter. </p>
                        </div>
                        <!--box-content--> 
                      </div>
                      <!--box--> 
                    </div>
                  </div>
                  <div class="col2-set">
                    <div class="box">
                      <div class="box-title">
                        <h4>Address Book</h4>
                        <a href="#">Manage Addresses</a> </div>
                      <!--box-title-->
                      <div class="box-content">
                        <div class="col-1">
                          <h5>Default Billing Address</h5>
                          <address>
                            {{ user.userprofile.full_name}}<br>
                            
                            {% for add in  user.customer.all %}
                            {{ add.profile_address }} <br>
                            {{ add.profile_country | upper }}
                            {% endfor %}
                            
                          <br>
                          T: {{ user.userprofile.profile_phone }} <br>
                          <a href="{% url 'listing_app:edit' user.id %}">Edit Address</a>
                          </address>
                        </div>
                        <div class="col-2">
                          <h5>Default Shipping Address</h5>
                          <address>
                            {{ user.userprofile.full_name}}<br>
                            
                            {% for add in  user.customer.all %}
                            {{ add.profile_address }} <br>
                            {{ add.profile_country | upper }}
                            {% endfor %}<br>
                          T: {{ user.userprofile.profile_phone }}<br>
                          <a href="{% url 'listing_app:edit' user.id %}">Edit Address</a>
                          </address>
                        </div>
                      </div>
                      <!--box-content--> 
                    </div>
                    <!--box--> 
                  </div>
                </div>
                <!--recent-orders-->
                <div class="recent-orders">
                  <div class="title-buttons"> <strong>Recent Orders</strong> <a href="{% url 'listing_app:order_page' user.id %}">View All</a> </div>
                  <!-- <div class="table-responsive">
                    <table class="data-table table-striped" id="my-orders-table">
                      <colgroup>
                      <col width="">
                      <col width="">
                      <col>
                      <col width="1">
                      <col width="1">
                      <col width="20%">
                      </colgroup>
                      <thead>
                        <tr class="first last">
                          <th>Order # </th>
                          <th>Product </th>
                          <th>Date</th>
                          <th><span class="nobr">Ship To</span></th>
                          <th><span class="nobr">Order Total</span></th>
                          <th>Status</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for list in user.order.all %}
                        <tr class="first odd">
                          <td>12800000002</td>
                          <td>{{ list.car_name }}</td>
                          <td><span class="nobr">{{ list.date_created }}</span></td>
                          <td>{{ list.customer | upper }}</td>
                          <td><span class="price">${{ list.product.car_price }}.00</span></td>
                          <td><em> {{ list.status }} </em></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div> -->
                  <!--table-responsive-->                 
                </div>

              {% else %}
              <div class="welcome-msg">
                <p class="hello"><strong>Hello, Visitor!</strong></p>
                <p>Kindly login or Register to view this page</p>
              </div>
                
              {% endif %}
            </div>
          </div>
        </section>
        <!--col-main col-sm-9 wow bounceInUp animated-->
        <aside class="col-right sidebar col-sm-3 col-xs-12 wow bounceInUp animated animated" style="visibility: visible;">
          <div class="block block-account">
            <div class="block-title"> My Account </div>
            <div class="block-content">
              <ul>
                <li class="current"><a>Account Dashboard</a></li>
                <li><a href="#"><span> Account Information</span></a></li>
                <li><a href="#"><span> Address Book</span></a></li>
                <li><a href="#"><span> My Orders</span></a></li>
                <li><a href="#"><span> Billing Agreements</span></a></li>
                <li><a href="#"><span> Recurring Profiles</span></a></li>
                <li><a href="#"><span> My Product Reviews</span></a></li>
                <li><a href="#"><span> My Wishlist</span></a></li>
                <li><a href="#"><span> My Applications</span></a></li>
                <li><a href="#"><span> Newsletter Subscriptions</span></a></li>
                <li class="last"><a href="#"><span> My Downloadable Products</span></a></li>
              </ul>
            </div>
            <!--block-content--> 
          </div>
          <!--block block-account-->
          
          <div class="custom-slider">
            <div>
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                 <div class="carousel-inner">
                  <div class="item active"><img src="images/slide3.jpg" alt="slide3">
                    <div class="carousel-caption">
                      <h3><a title=" Sample Product" href="#">50% OFF</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <a class="link" href="#">Buy Now</a></div>
                  </div>
                  <div class="item"><img src="images/slide1.jpg" alt="slide1">
                    <div class="carousel-caption">
                      <h3><a title=" Sample Product" href="#">Hot collection</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <div class="item"><img src="images/slide2.jpg" alt="slide2">
                    <div class="carousel-caption">
                      <h3><a title=" Sample Product" href="#">Summer collection</a></h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#" data-slide="next"> <span class="sr-only">Next</span> </a></div>
            </div>
          </div>
        </aside>
        <!--col-right sidebar col-sm-3 wow bounceInUp animated--> 
      </div>
      <!--row--> 
    </div>
    <!--main container--> 
  </section>
  <!--main-container col2-left-layout--> 
  

 
  <!-- For version 1,2,3,4,6 -->
{% endblock %}