{% extends "listing_app/base_reg.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Order Form
{% endblock %}

{% block page_title %}
Create new Orders
{% endblock page_title %}

{% block Content %}
  
<!-- BEGIN Main Container -->  
{% if user.is_authenticated %}
        <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
	        <div class="main">
                <div class="account-login container">
                      <div class="row">
                        <div class="col-md-4 ">                    
                          <div class="thumbnail ">
                            <div class="caption bg-info text-center">
                              <h3>Total Number of Orders</h3>
                              <h2> {{ order_count }}</h2>
                              <div><p></p></div>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-4 col-md-offset-4">
                          <div class="thumbnail">
                            
                            <div class="caption bg-info text-center">
                                <h3>Owner of Dashboard</h3>
                                
                        
                                    <p> 
                                        <h2>{{ user.username | upper }}</h2>
                                    </p>
                     
                                  
                                <div><p></p></div>
                              </div>
                          </div>
                        </div>
                      </div>
                        {% if order %}
                        

                      <!-- The order liist -->
                      <div class="recent-orders">
                        <div class="title-buttons"> <strong>Recent Orders</strong> <a href="{% url 'cadmin' %}"> Back to Dash Board</a> </div>
                        <div class="table-responsive">
                          <table class="data-table table-striped" id="my-orders-table">
                            <colgroup>
                            <col width="">
                            <col width="">
                            <col>
                            <col width="1">
                            <col width="1">
                            <col width="20%">
                            </colgroup>
                            <thead>
                              <tr class="first last">
                                <th>Order # </th>
                                <th>Date</th>
                                <th> Product </th>
                                <th>Ship To</th>
                                <th><span class="nobr">Order Total</span></th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for list in order %} 
                              <tr class="last odd">
                                <td>12000000001</td>
                                <td>{{ list.car_name }}</td>
                                <td><span class="nobr">{{ list.date_created }}</span></td>
                                <td>{{ list.customer | upper }}</td>
                                <td><span class="price">${{ list.product.car_price }}.00</span></td>
                                <td><em> {{ list.status }} </em></td>
                                <td class="a-center last"><span class="nobr"> <a href="{% url 'listing_app:delete_order' list.id %}">Delete Order</a> <span class="separator">|</span> <a href="{% url 'listing_app:update_order' list.id %}" class="link-reorder">Update</a> </span></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        {% endif %}
                        <!--table-responsive-->                 
                        <a href="{% url 'listing_app:create_order' user.id %}"><button type="submit" >Create New Order</button></a>
                    </div>
                </div> <!--account-login-->
                
	        </div><!--main-container-->
        </div> <!--col1-layout-->
        <div class="col-12"><p><br></p></div>
{% endif %}

{% endblock %}
    
       
          

  
