{% extends "listing_app/base_reg.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
Reset Password
{% endblock %}

{% block page_title %}
Reset Password
{% endblock page_title %}

{% block Content %}
  
<!-- BEGIN Main Container -->  
          
        <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
	        <div class="main">                     
                <div class="account-login container">
                    <div class="text-primary"> 
                        {% for message in messages %}
                      {{ message }}
                    {% endfor %}</div>
                    <form method="POST" id="login-form">
                        {% csrf_token %}
                        <input name="form_key" type="hidden" value="EPYwQxF6xoWcjLUr">
                        <fieldset class="col2-set">
                            <div class="col-md-12 col registered-users">
                                <h3><strong>Password Reset Successful</strong></h3>
                                <hr>             
                                <div class="content">
                                    <p>Please enter your new password twice so we can verify you typed it in correctly</p>

                                    {{ form.as_p }}
                                    
                                    <div class="buttons-set">
                                        <button type="submit" class="button" title="register" name="register" id="send2"><span>Change my password</span></button>
                                    </div>
                                </div> <!--content-->                               
                            </div> <!--col-2 registered-users-->
                            <!-- <div class="col-md-3"></div> -->
                        </fieldset> <!--col2-set-->
                    </form>
                </div> <!--account-login-->
	        </div><!--main-container-->
        </div> <!--col1-layout-->
        <div class="col-12"><p>Yo</p></div>

{% endblock %}
    
       
          

  
